[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.vcxproj
*.pdb
*.unityproj
*.opendb
*.VC.db

localcache/

*.unitypackage

*.bak
*.sav
*.tmp
*.pidb.meta
*.pidb
*.svd

*.apk
*.aab
*.exe
*.app
*.ipa
*.msi
*.dll
*.pdb
*.zip
*.tar.gz
*.7z
*.dmg

.DS_Store
Thumbs.db
*.~lock.*
._*
._*/ 

*.generated.cs

Plugins/
UIElementsSchema/